.image-container {
    display: inline-block;
    position: relative;
}

.image {
    position: relative;
}

.marker {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: orange;
    font-weight: 700;
    font-size: 22px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.4);

    &:hover {
        cursor: pointer;
    }
}