@import '../fonts.scss';

.splash-container {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "lato";
    font-size: 4em;
    z-index: 1; 
    background-color: white;
}

#test1 {
    position: absolute;
    top: -5%;
    left: 0;
}

#test2 {
    position: absolute;
    top: -100;
    left: 20%;
}