@import '../fonts.scss';

@keyframes imagefade {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;}
}

.splash-container {
    display: inline-block;
    height: 100vh;
    width: 100vw;
}

.title {
    font-family: "lato";
    font-size: 4em;
    background-color: white;
    margin: auto;
}

#splash-image {
    animation: imagefade 1s;
}