@font-face {
    font-family: 'dots';
    src: url('RalewayDots-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato';
    src: url('Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}